// Image Link
$imageLink : "http://localhost/websmkcoding/public/images/local/";

// Sizing
$desktop-width: 1200px;
$tablet-width: 769px;
$mobile-width: 426px;
$small-mobile-width: 376px;
$sizing-standard: 20px;
$border-standard: 10px;
$letter-spacing: 2px;

// Responsive
$widescreen-container: 1100px;
$desktop-container: 1000px;
$tablet-container: 720px;
$mobile-container: 100%;

// Font
$primary-font: 'poppins';

// Coloring
$black: #131313;
$primary_blue: #430098;
$secondary_blue: #00BFD6;
$accent_blue: #E8F0FE;
$light-gray: #504E4E;

// IMPORT FONT

@font-face {
    font-family: 'poppins';
    src: url('../../font/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../../font/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../../font/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../../font/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}