// Function Responsive
@mixin desktop {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}){
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}){
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$small-mobile-width}) and (max-width: #{$mobile-width}){
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: #{$small-mobile-width}){
        @content;
    }
}