// @import "global.scss";

#about {
    height: 100%;

    #head {
        display: none;
        background-color: $accent-blue;
        display: flex;
        padding-top: $sizing-standard * 5;
        background-color: $accent-blue;
        height: 100%;

        @include mobile {
            height: auto;
        }

        @include small-mobile {
            height: auto;
        }

        .row {
            position: relative;
        }

        .left-container {
            height: 86vh; //FIX LATER
            display: flex;
            
            h1,span {
                font-size: 40px;
                font-weight: 500;
                color: $black;
                line-height: 1.5em;
                margin: 0;

                @include tablet {
                    font-size: 28px;
                }

                @include mobile {
                    font-size: 24px;
                }
        
                @include small-mobile {
                    font-size: 24px;
                }

                span {
                    color: $primary-blue;
                    font-weight: 700;
                }
            }

            p{
                font-size: 18px;
                color: $black;
                font-size: 18px;
                line-height: 1.8em;
                margin: $sizing-standard * 2 0;

                @include tablet {
                    font-size: 16px;
                }
            }

            .btn-container {
                width: 260px;

                @include tablet {
                    font-size: 240px;
                }

                @include small-mobile {
                    width: 200px;
                }
            }

        }

        .right-container {
            padding-top: $sizing-standard * 2;

            @include tablet {
                padding-top: $sizing-standard * 5;
            }

            @include small-mobile {
                display: none;
            }

            .head-pic {
                display: block;
                width: 100%;
                height: 340px;
                object-fit: cover;
                box-shadow: 0px 8px 20px rgba($secondary-blue,0.5);

                @include tablet {
                    height: 300px;
                }

                @include mobile {
                    display: none;
                }
        
                @include small-mobile {
                    display: none;
                }

            }

            .extra-height {
                height: 360px;

                @include tablet {
                    height: 320px;
                }
            }

        }

    }

    #background {
        padding-top: $sizing-standard * 5;
        padding-bottom: $sizing-standard * 5;

        h1,span {
            font-size: 32px;
            font-weight: 600;

            @include small-mobile {
                font-size: 24px;
                line-height: 1.5em;
            }

            span {
                color: $primary-blue;
            }
        }

        .subtitle {
            
            h5 {
                text-transform: uppercase;
                color: $light-gray;
                font-weight: 600;
                font-size: 20px;

                @include small-mobile {
                    font-size: 16px;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    background-color: $secondary-blue;
                    height: 8px;
                    // border-top: .3em solid $secondary-blue;
                    width: 50px;
                    margin: 0 $sizing-standard $sizing-standard / 6 0;
                    // transform: translateY(-$sizing-standard / 2);
                }
            }

        }

        .ilustration {
            width: 100%;
            object-fit: cover;
        }

        p {
            font-size: 18px;
            line-height: 1.8em;
            color: $black;
            margin-bottom: $sizing-standard ;
        }

        .quote-container {
            position: relative;

            h1,span {
                font-size: 28px;
                font-weight: 600;
                color: $black;

                @include small-mobile {
                    font-size: 18px;
                    line-height: 1.5em;
                }

                span {
                    color: $primary-blue;
                    font-weight: 700;
                }

            }

            .quote-mark {
                color: $primary-blue;
                font-weight: 700;
            }


        }

    }

    #roadmap {
        height: 100%;
        padding: $sizing-standard * 5;
        background-image: url($imageLink + "Roadmap-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: $sizing-standard * 5 0;

        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            color: white;

            @include small-mobile {
                font-size: 26px;
            }
        }

        .container-fluid {
            position: relative;
        }

        .row {
            margin-top: $sizing-standard * 5;
        }

        .item {
            text-align: center;

            @include small-mobile {
                padding-left: $sizing-standard * 3;
                text-align: left;
                margin-bottom: $sizing-standard * 2;
                height: 400px;
            }
            
            h2, h4, p {
                color: white;
            }

            h2 {
                font-size: 28px;
                margin-bottom: $sizing-standard * 4;

                @include small-mobile {
                    font-size: 24px;
                    margin-bottom: $sizing-standard;

                    &:nth-child(1) {
                        margin-top: 0;
                    }
                }
            }

            h4 {
                font-size: 24px;
                font-weight: 600;

                @include small-mobile {
                    font-size: 20px;
                    padding-left: $sizing-standard / 2;
                    margin-bottom: $sizing-standard / 4;
                    margin-top: $sizing-standard / 2;
                }
            }

            p {
                font-size: 18px;

                @include small-mobile {
                    font-size: 16px;
                    opacity: .8;
                    padding-left: $sizing-standard / 2;
                }
            }
        }

        .timeline {
            position: absolute;
            top: 18%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            @include small-mobile {
                display: unset;
                top: 0;
                left: $sizing-standard;
            }

            .circle {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 4px solid white;
                background-color: $secondary-blue;

                @include small-mobile {
                    display: block;
                    margin: 0 auto;
                }
            }

            .line {
                display: inline-block;
                width: 330px;
                height: 1px;
                border-top: 3px dotted white;
                opacity: .5;

                @include small-mobile {
                    margin: 0 auto;
                    display: block;
                    width: 2px;
                    height: 420px;
                    border-right: 3px dotted white;
                }
            }

        }

    }
}