// @import "global.scss";
// 
#auth {
    position: relative;
    background-image: url($imageLink + 'auth_background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: $sizing-standard * 2;
    overflow-x: hidden;

    @include small-mobile {
        padding: $sizing-standard;
        background-image: unset;
    }
    
    .row {
        position: sticky;
        top: 0;

        @include small-mobile {
            display: none;
        }

    }

    .left-container {
        position: relative;
        height: 100%;

        .title-small{
            width: 250px;
        }

        .title, .title-small {
            position: absolute;
            top: 50%; 
            left: $sizing-standard / 2;
            transform: translateY(-50%);
            transform: .4s;

            @include tablet {
                display: none;
            }

            h1 {
                color: $primary-blue;
                font-size: 26px;
                font-weight: 700;
                margin-bottom: $sizing-standard;
            }

            p {
                margin: 0;
                font-size: 16px;
                font-weight: 500;
                color: $black;
            }
        }

        .action {
            cursor: pointer;
            position: absolute;
            bottom: 0; left: 0;
            transition: .4s;

            font-size: 20px;
            color: $black;
            font-weight: 600;

            @include tablet {
                display: none;
            }

            .btn {
                font-size: 20px;
                color: $black;
                font-weight: 600;
            }

            .dropdown-item {
                font-size: 16px;
                color: $black;
                font-weight: 500px;

                .fas {
                    display: inline-block;
                    width: 28px;
                    font-size: 18px;
                    color: $black;
                }

            }

            .fas {
                font-size: 24px;
                color: $primary-blue;
                margin-right: $sizing-standard / 2;
            }

        }

    }

    .right-container {
        position: relative;
        height: 100%;

        .accent {
            position: absolute;
            top: 50%; 
            left: 40%;
            transform: translateY(-50%);
            
            h1 {
                opacity: .2;
                font-weight: 700;
                font-size: 150px;
                color: white;
            }

        }

        p{
            position: absolute;
            bottom: 0; right: 0;

            opacity: .7;
            font-size: 16px;
            color: white;
            font-weight: 500;
        }
    }

    // ONLY FOR SETTING MARGIN-TOP
    .login-card {
        position: absolute;
        width: 450px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        @include small-mobile {
        }
    }

    .register-card {
        position: absolute;
        width: 650px;
        top: $sizing-standard * 2;
        left: 50%;
        transform: translateX(-50%);

        @include tablet {
            top: $sizing-standard * 7;
        }

    }

    .login-card,.register-card {
        background: white;
        box-shadow: 0px 6px 30px rgba($black,0.2);
        border-radius: $border-standard * 2;
        padding: $sizing-standard $sizing-standard * 2;
        transition: .4s;
        box-sizing: border-box;

        @include small-mobile {
            width: 100%;
            box-shadow: 0px 0px 0px rgba($black,0);
            padding: $sizing-standard;
        }

        h1 {
            margin-top: $sizing-standard * 2;
            font-size: 32px;
            display: inline-block;
            margin-bottom: $sizing-standard / 2;

            background-image: linear-gradient(to right, $secondary-blue, $secondary-blue);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: 50% 4px;
            transition: background-size .5s ease;

            @include small-mobile {
                margin-top: $sizing-standard;
                margin-bottom: $sizing-standard;
            }

        }

        .login-form {
            margin: $sizing-standard * 3 0;

            .input-container {
                width: 100%;
            }

            .err-message {
                color: #c0392b;
                font-size: 14px;
                font-weight: 500;
                margin-top: $sizing-standard;
            }
        }

        .register-form {
            margin: $sizing-standard * 3 0;

            
            .err-message {
                color: #c0392b;
                font-size: 14px;
                font-weight: 500;
                margin: 0;
            }

            .input-container {
                text-align: left;
                width: 100%;
                margin-bottom: $sizing-standard * 1.5;

                label {
                    font-size: 16px;
                    font-weight: 500;
                    color: $black;
                    margin-bottom: $sizing-standard;
                }

                .radio-inline {
                    color: lighten($black, 40%);
                    margin: 0;
                    margin-right: $sizing-standard * 1.5;

                    @include small-mobile {
                        display: block;
                    }

                    input {
                        margin-right: $sizing-standard / 2;
                    }

                }

            }

        }

        .btn-container {
            margin-top: $sizing-standard * 2;
            margin-bottom: $sizing-standard;
        }

        p,span {
            font-size: 16px;
            font-weight: 400;
            color: $black;

            span {
                cursor: pointer;
                font-weight: 600;
                color: $primary-blue;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

}