
// BUTTON
div#primary-button, div#primary-button-nostripe{
    position: relative;
    width: max-content;

    .blue,.light {
        background-color: $primary-blue;
        border: 0;
        border-radius: $border-standard;
        color: white;
        padding: $sizing-standard / 2 $sizing-standard * 2;
        font-size: 18px;
        font-weight: 600;
        transition: .3s;

        @include small-mobile {
            font-size: 14px;
            padding: $sizing-standard / 2 $sizing-standard;
        }

        &:hover {
            background-color: darken($primary-blue, 10%)
        }

    }

    .light {
        background-color: white;
        color: $black;

        &:hover {
            background-color: $secondary-blue;
            color: white;
        }
    }

}

div#primary-button {
    position: relative;
    width: max-content;

    .blue,.light {
        background-color: $primary-blue;
        border: 0;
        border-radius: $border-standard;
        color: white;
        padding: $sizing-standard / 2 $sizing-standard * 2;
        font-size: 18px;
        font-weight: 600;
        transition: .3s;

        @include small-mobile {
            font-size: 16px;
        }

        @include mobile {
            padding: $sizing-standard / 4 $sizing-standard;
            font-size: 16px;
        }


        @include small-mobile {
            padding: $sizing-standard / 4 $sizing-standard;
            font-size: 16px;
        }

        &:hover {
            background-color: darken($primary-blue, 10%)
        }
    }

    .light {
        background-color: white;
        color: $black;

        &:hover {
            background-color: $secondary-blue;
            color: white;
        }
    }

    
    &:after {
            content: "";
            display: inline-block;
            position: absolute;
            background-color: $secondary-blue;
            height: 8px;
            width: 90px;
            right: - $sizing-standard * 3.5;
            top: 50%;
            transform:translateY(-50%);

            @include mobile {
                width: 50px;
                right: - $sizing-standard * 2;
            }
    
            @include small-mobile {
                width: 50px;
                right: - $sizing-standard * 2;
            }
    }

}


// SEPARATOR
#separator {

    h5 {
        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin: 0 2%;

            @include small-mobile {
                width: 30px;
                height: 30px;
            }
        }

        &::before, &::after {
            content: "";
            display: inline-block;
            opacity: .2;
            background-color: $light-gray;
            height: 2px;
            width: 46%;

            @include tablet {
                width: 45%;
            }

            @include small-mobile {
                vertical-align: middle;
                width: 42%;
            }
        }
    }

}


// FORM
#input-rounded,#input-rounded-password{
    position: relative;
    background-color: $accent-blue;
    border-radius: $border-standard;
    padding: $sizing-standard / 2 $sizing-standard;
    width: 100%;

    input {
        color: $black;
        font-size:  18px;
        font-weight: 500;

        width: 95%;
        display: inline-block;
        border: 0;
        outline: none;
        background-color: transparent;
    }

    .icon {
        width: 5%;
        display: inline-block;
        font-size: 18px;
        color: lighten($black, 20%)
    }
}

#primary-search {
    background-color: #F9F9F9;
    border-radius: $border-standard * 5;
    padding: $sizing-standard / 2 $sizing-standard;

    &:hover {
        background-color:darken(#F9F9F9,3%);
    }

    .fas {
        width: 100%;
        display: inline-block;
        font-size: 18px;
        color: $light-gray;
    }

    .main-input {
        display: inline-block;
        border: 0;
        width: 90%;
        background-color: transparent;
        outline: none;
        padding: 0 $sizing-standard/2;
        font-size: 18px;
        color: $black;
    }
    
}

// LABEL
#rounded-label {
    display: inline-block;
    border: 2px solid $secondary-blue;
    padding: $sizing-standard / 4 $sizing-standard / 2;
    border-radius: $border-standard;
    margin-right: $sizing-standard / 2;
    margin-bottom: $sizing-standard / 2;

    font-size: 16px;
    color: $black;
    text-transform: uppercase;
    font-weight: 500;
}

//CARD
#school-card {
    position: relative;
        
    .item-pic {
        width: 100%;
        height: 280px;
        object-fit: cover;
        border-radius: $border-standard;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: $sizing-standard - 10;
        right: $sizing-standard - 10;
        bottom: 0;
        border-radius: $border-standard ;
        background-color:  rgba(80,80,80,0.45);
        padding: $sizing-standard;

        h4 {
            
            color: #fff;
            font-weight: 600;
        }

        span {
            font-size: 16px;
            color: #fff;
            opacity: .9;
            text-transform: capitalize;
        }

        .top {
            position: absolute;
            top: $sizing-standard;
            left: $sizing-standard;
            right: $sizing-standard;
        }

        .bottom {
            position: absolute;
            bottom: $sizing-standard;
            left: $sizing-standard;
            right: $sizing-standard;

            .address {
                font-size: 16px;
                margin-top: $sizing-standard / 2;
                margin-right: $sizing-standard / 3;
                background-color: $secondary-blue ;
                border-radius: $border-standard;
                border: 0;
                color: #fff;
                padding: $sizing-standard - 15 $sizing-standard - 10
            }
        }
    }
    


}

#NewsCard {
    position: relative;

    .pic {
        width: 100%;
        height: 200px;
    }

    .desc {
        position: relative;
        padding: $sizing-standard*2 $sizing-standard/2 $sizing-standard/2 $sizing-standard/2;

        .label {
            position: absolute;
            top: - $sizing-standard;
            left: 0;
            background-color: $accent-blue;
            padding: $sizing-standard / 2 $sizing-standard;
            text-transform: uppercase;
            color: $black;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
        }

        h1 {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.5em;
            letter-spacing: 1px;
        }
        
        p{
            color: lighten($light-gray, 15%);
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
        }

    }

}

#news-horizontal {
    position: relative;

    img {
        width: 100%;
        height: 340px;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        left: 0; bottom: 0; right: $sizing-standard * 2;
        background-color: white;
        padding: $sizing-standard*2 $sizing-standard/2 $sizing-standard/2 $sizing-standard/2;

        .label {
            position: absolute;
            top: - $sizing-standard;
            left: 0;
            background-color: $accent-blue;
            padding: $sizing-standard / 2 $sizing-standard;
            text-transform: uppercase;
            color: $black;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
        }

        h4 {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.5em;
            margin: 0;
            letter-spacing: 1px;
        }
        
        p{
            color: lighten($light-gray, 15%);
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
}