@import "utilities/_config"; // Font,Variables
@import "utilities/function"; // Responsive

// Reset

html,
body {
    font-size: 16px;
    height: 100%;
    line-height: 1.15;
    margin: 0;
}

* {
    font-family: $primary-font;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-family: $primary-font;
    font-size: 10px;
}

a {
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

ol, ul {
    margin: 0;
    padding: 0;
    margin-bottom: $sizing-standard / 2;

    li {
        font-family: $primary-font;
        margin: 0;
        padding: 0;
        color: $light-gray;
    }
}

p {
    font-family: $primary-font;
    color: $light-gray;
    margin-bottom: $sizing-standard / 2;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;

    a { 
        font-family: $primary-font;
        font-weight: 700;
        color: $light-gray;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: 700;
    color: $black;
    margin: 0;
    padding: 0;
    margin-bottom: $sizing-standard;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: $sizing-standard / 2;
    padding-left: $sizing-standard / 2;
}

.logo {
    height: 36px;
}

.container {
    box-sizing: border-box;
    max-width: $widescreen-container;
    padding: 0 $sizing-standard / 2;

    @include desktop {
        max-width: $desktop-container;
    }

    @include tablet {
        max-width: $tablet-container;
    }

    @include mobile {
        max-width: $mobile-container;
        padding: 0 $sizing-standard;
    }

    @include small-mobile {
        max-width: $mobile-container;
        padding: 0 $sizing-standard;
    }
}

.row {
    margin-right: - $sizing-standard / 2 ;
    margin-left: - $sizing-standard / 2 ;
}

.clear-both {
    clear: both;
}

.page-container {
    height: 100%;
}

//Shadow
.thin-shadow {
    -webkit-box-shadow: 0px 10px 40px 0px rgba(195,195,195,0.20);
    -moz-box-shadow: 0px 10px 40px 0px rgba(195,195,195,0.20);
    box-shadow: 0px 10px 40px 0px rgba(195,195,195,0.20);
}
.box-shadow {
    -webkit-box-shadow: 0px 10px 50px 0px rgba(195,195,195,0.65);
    -moz-box-shadow: 0px 10px 50px 0px rgba(195,195,195,0.65);
    box-shadow: 0px 10px 50px 0px rgba(195,195,195,0.65);
}

#header-navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 5;
    transform: .4s;

    .logo {
        height: 36px;
    }

    .navbar {
        padding: $sizing-standard * 2 0;
        transition: all .4s ease;
    }

    .navbar-scroll {
        transition: all .4s ease;
        -webkit-transition: all 0.4s ease;
        background-color: white;
        padding: $sizing-standard 0;
        box-shadow: 0px 2px 5px 0px rgba(112,112,112,.15);
    }

    ul {
        margin: 0;
        padding: 0;

        @include small-mobile {
            text-align: left;
        }

    }

    ul li {
        margin-right: $sizing-standard +  ($sizing-standard / 2);

        @include tablet {
            margin: 0;
            padding-bottom: $sizing-standard / 3;
        }

        @include small-mobile {
            margin: 0;
            padding-bottom: $sizing-standard / 4;
        }
    }

    ul li > a  {
        text-align: right;
        font-size: 16px;
        font-weight: 500;
        color: $light-gray;
    }

    .navbar-nav .nav-item .light-theme {
        color: darken(white, 10%);

        &:hover {
            color: white;
        }
    }

    .navbar-nav li.active > a{
        font-weight: 600;
        color: $black;
    }

    .navbar-nav li.active > .light-theme    {
        font-weight: 600;
        color: white;
    }

    .btn-group {

        .register-btn {
            cursor: pointer;
            background-color: $primary-blue;
            color: white;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            padding: $sizing-standard / 3 $sizing-standard * 2;
            border: 0;
            border-radius: $border-standard;
            transition: .3s;

            &:hover {
                background-color: darken($primary-blue, 10%);
            }
        }

        .dropdown-menu .dropdown-item{
            font-size: 16px;
            color: $black;
            font-weight: 500px;

            .fas {
                display: inline-block;
                width: 28px;
                font-size: 18px;
                color: $black;
            }

        }

    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(80,80,80, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

}

div#footer {
    position: relative;
    background-color: $secondary-blue;
    padding-top: $sizing-standard * 4;
    padding-bottom: $sizing-standard * 3;

    .logo {
        display: block;
        height: 100px;
        object-fit: contain;
        margin: 0 auto;
    }

    .list-inline {
        margin-top: $sizing-standard * 3;

        .list-inline-item > a {
            list-style: none;
            font-size: 20px;
            font-weight: 500;
            color: white;
            padding: 0 $sizing-standard / 2;
            transition: .3s;
        }
    }

    .stripe {
        width: 100%;
        height: 2px;
        background-color: white;
        opacity: .5;
        margin: $sizing-standard 0;
    }

    p {
        font-weight: 500;
        color: white;
        opacity: .7;
    }

}

.space {
    height: 400px;
}