// @import "global.scss";

#landing-page {
    overflow-x: hidden;
    background-color: white;

    .head {
        display: flex;
        padding-top: $sizing-standard * 5;
        height: 100vh;

        @include tablet {
            height: 100%;
        }

        @include small-mobile {
            height: 100%;
        }

        .container {
            margin-top: auto;
            margin-bottom: auto;
            
        }

        .caption {

            @include tablet {
                margin-top: $sizing-standard;
                text-align: center;
            }

            .subtitle {
                
                h5 {
                    text-transform: uppercase;
                    color: $light-gray;
                    font-weight: 600;
                    font-size: 20px;

                    @include small-mobile {
                        font-size: 16px;
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        background-color: $secondary-blue;
                        height: 8px;
                        // border-top: .3em solid $secondary-blue;
                        width: 50px;
                        margin: 0 $sizing-standard $sizing-standard / 6 0;
                        // transform: translateY(-$sizing-standard / 2);
                    }

                    @include tablet {
                        &::after {
                            content: "";
                            display: inline-block;
                            background-color: $secondary-blue;
                            height: 8px;
                            width: 50px;
                            margin: 0 0 $sizing-standard / 6 $sizing-standard;
                        }
                    }
                }

            }

            h1,span {
                font-size: 40px;
                line-height: 1.5em;
                letter-spacing: $letter-spacing;

                @include small-mobile {
                    font-size: 30px;
                }

                span {
                    color: $secondary-blue;
                }
            }

            .action-button {
                width: 240px;

                @include tablet {
                    margin: 0 auto;
                }

                @include small-mobile {
                    width: 200px;
                }

            }

            .small-logo {
                width: 20px;
                object-fit: contain;
                margin-right: $sizing-standard / 4;
                filter: grayscale(100%);
            }

            p{
                opacity: .8;
                color: $light-gray;
                font-size: 14px;
                font-weight: 600;
            }
        
        }

        .image-group {
            position: relative;
            display: flex;

            @include small-mobile {
                width: 100%;
                height: 300px;
            }

            @include tablet {
                height: 400px;
            }

            .diamond-container {
                width: 200px;
                height: 200px;
                transform: rotate(45deg);
                overflow: hidden;

                @include small-mobile {
                    width: 120px;
                    height: 120px;
                }
            
                .diamond-image {
                    object-fit: cover;
                    max-width: 100%;
                    max-height: 100%;
                    object-position: center;
                    transform: rotate(-45deg) scale(1.42);
                }

            }

            .dominate {
                position: absolute;
                top: 50%;
                left: 12%;
                transform: translateY(-50%);
                z-index: 2;

                @include tablet {
                    left: 20%;
                }

                @include small-mobile {
                    left: 10%;
                }

                .white-outline {
                    width: 240px;
                    height: 240px;
                    outline: 20px solid white;

                    @include small-mobile {
                        width: 140px;
                        height: 140px;
                        outline: 10px solid white;
                    }
                }

                .line1 {
                    position: absolute;
                    z-index: 4;
                    bottom: 30px;
                    left: -70px;
                    background-color: $secondary-blue;
                    height: 15px;
                    width: 140px;
                    transform: rotate(-135deg);

                    @include small-mobile {
                        display: none;
                    }
                }


            }

            .shadowed {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);

                @include tablet {
                    left: 50%;
                }

                @include small-mobile {
                    left: 48%;
                }

                .line1 {
                    position: absolute;
                    z-index: -1;
                    top: 14px;
                    right: -96px;
                    border-bottom: 20px solid $secondary-blue;
                    border-left: 20px solid transparent;
                    border-right: 22px solid transparent;
                    height: 0;
                    width: 240px;
                    transform: rotate(-135deg);

                    @include small-mobile {
                        border-bottom: 14px solid $secondary-blue;
                        border-left: 14px solid transparent;
                        border-right: 16px solid transparent;
                        width: 145px;
                        top: 8px;
                        right: -56px;
                    }

                }

                .line2 {
                    position: absolute;
                    z-index: -1;
                    bottom: 14px;
                    right: -96px;
                    border-bottom: 20px solid $secondary-blue;
                    border-left: 18px solid transparent;
                    border-right: 20px solid transparent;
                    height: 0;
                    width: 235px;
                    transform: rotate(-45deg);

                    @include small-mobile {
                        border-bottom: 14px solid $secondary-blue;
                        border-left: 14px solid transparent;
                        border-right: 16px solid transparent;
                        bottom: 8px;
                        right: -56px;
                        width: 145px;
                    }

                }

                .triangle-down {
                    position: absolute;
                    top: -20px;
                    left: -35px;
                    z-index: 3;
                    width: 0;
                    height: 0;
                    border-left: 40px solid transparent;
                    border-right: 40px solid transparent;
                    border-top: 35px solid $secondary-blue;

                    @include small-mobile {
                        border-left: 30px solid transparent;
                        border-right: 30px solid transparent;
                        border-top: 25px solid $secondary-blue;
                        left: -20px;
                    }
                }
                
            }

        }

    }

    .about-us {
        margin: $sizing-standard * 5 0;

        img {
            width: 240px;
            object-fit: contain;
            margin: 0 auto;

            @include tablet {
                width: 160px;
            }

            @include small-mobile {
                width: 120px;
            }
        }

        h6{
            font-size: 16px;
            color: $light-gray;
            text-transform: uppercase;
            font-weight: 500;

            @include small-mobile {
                font-size: 12px;
            }
        }

        h3 {
            text-transform: capitalize;
            font-size: 34px;
            color: $primary-blue;
            line-height: 1.3em;
            letter-spacing: $letter-spacing * 2;

            @include small-mobile {
                font-size: 24px;
                letter-spacing: $letter-spacing / 2;
            }
        }

        p,span {
            font-weight: 400;
            font-size: 18px;
            color: $black;
            line-height: 1.8em;
            letter-spacing: $letter-spacing;

            span {
                color: $secondary-blue;
                font-weight: 600;
            }
        }
    }

    .pembekalan {
        position: relative;
        margin: $sizing-standard * 6 0;
        
        .background-wrapper {
            display: flex;
            width: 100%;
            height: 320px;
            background-image: url($imageLink + "doodle_background.png");
            // background-image: url('../../images/doodle_background.png');
            background-size: cover;
            
            h3 {
                margin: 0 auto;
                margin-top: $sizing-standard * 4;
                text-align: center;
                text-transform: uppercase;
                color: white;
                font-weight: 700;
                font-size: 34px;
            }

        }

        .card {
            margin-top: - $sizing-standard * 6;
            background-color: white;
            border-radius: $border-standard * 2;
            border: 0;
            box-shadow: 0px 8px 20px rgba($black,0.10);
            padding: $sizing-standard * 2;

            .item {

                img {
                    width: 140px;
                    height: 140px;
                    margin: 0 auto;
                    object-fit: contain;
                    object-position: center;
                }

                h3 {
                    margin-top: $sizing-standard;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: capitalize;
                    color: $primary-blue;
                    line-height: 1.5em;
                    letter-spacing: $letter-spacing / 2;
                }

            }
        }
        
        .action-btn {
            @include small-mobile {
                width: 200px;
            }
        }

        
    }

    .materi-pembelajaran {
        margin: $sizing-standard * 5 0;

        h1 {
            font-size: 34px;
            font-weight: 700;
            color: $primary-blue;
            margin: 0;

            @include small-mobile {
                font-size: 24px;
            }
        }

        p{
            margin-top: $sizing-standard;
            font-weight: 600;
            color:$black;
            font-size: 18px;
        }

        .default-view {
            @include small-mobile {
                display:none;
            }
        }

        .mobile-view{
            display: none;

            @include small-mobile {
                display: block;
            }
        }

        .row {
            margin-top: $sizing-standard * 5;
            position: relative;
            height: max-content;

            .timeline {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                padding-top: $sizing-standard ;

                .circle {
                    margin: 0 auto;
                    width: 25px;
                    height: 25px;
                    background-color: $secondary-blue;
                    border-radius: 50%;
                }

                .line {
                    margin: 0 auto;
                    width: 4px;
                    height: 240px;
                    background-color: lighten($light-gray, 60%)
                }
            }
        }

        .materi {
            height: 270px;

            @include tablet {
                height: auto;
                min-height: 270px;
            }

            h3 {
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 500;
                color: $primary-blue;

                @include small-mobile {
                    font-size: 20px;
                    text-align: left;
                }
    
                @include tablet {
                    font-size: 22px;
                }
    
                .icon-right,.icon-left {
                    margin-left: $sizing-standard;
                    width: 50px;
                    height: 50px;
                    object-fit: contain;

                    @include small-mobile {
                        margin-left: 0;
                        margin-right: $sizing-standard / 2;
                        width: 30px;
                        height: 30px;
                    }
    
                    @include tablet {
                        width: 40px;
                        height: 40px;
                    }
                }
    
                .icon-left {
                    margin-left: 0;
                    margin-right: $sizing-standard;

                    @include small-mobile {
                        margin-right: $sizing-standard / 2;
                    }
                }
    
            }
    
            .p-right,.p-left {
                margin-right: 50 + $sizing-standard;
                color: $black;
                font-size: 18px;
                line-height: 1.8em;

                @include small-mobile {
                    font-size: 16px;
                    text-align: left;
                    margin-right: 0;
                    margin-left: $sizing-standard * 2;
                }
            }
    
            .p-left {
                margin-left: 50 + $sizing-standard/2;
                margin-right: 0;
            }
        }

    }

    .mentor {
        margin-top: $sizing-standard * 5;
        margin-bottom: $sizing-standard * 8;

        h1 {
            font-size: 34px;
            font-weight: 700;
            color: $primary-blue;
            margin: 0;

            @include small-mobile {
                font-size: 24px;
            }
        }

        .subtitle{
            margin-top: $sizing-standard;
            font-weight: 600;
            color:$black;
            font-size: 18px;

            @include small-mobile {
                line-height: 1.5em;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .row {
            margin: $sizing-standard * 5 0;
        }

        .image-group {
            position: relative;

            .mentor-pic {
                z-index: 2;
                margin: 0 auto;
                border-radius: 50%;
                width: 340px;
                height: 340px;
                object-fit: cover;
                object-position: center;

                @include small-mobile {
                    width: 250px;
                    height: 250px;
                }
            }

            .circle1 {
                z-index: 3;
                position: absolute;
                top: 0;
                right: $sizing-standard * 4;
                width: 100px;
                height: 100px;
                background-color: $secondary-blue;
                border-radius: 50%;

                @include small-mobile {
                    z-index: 1;
                    width: 60px;
                    height: 60px;
                    right: $sizing-standard;
                }
            }

            .circle2 {
                z-index: -1;
                position: absolute;
                bottom: - $sizing-standard * 3;
                left: $sizing-standard;
                width: 200px;
                height: 200px;
                background-color: $secondary-blue;
                border-radius: 50%;

                @include small-mobile {
                    width: 100px;
                    height: 100px;
                    left: 0;
                    bottom: 0;
                }
            }

            .accent {
                opacity: .4;
                z-index: -1;
                position: absolute;
                bottom: - $sizing-standard * 2;
                right: $sizing-standard * 2;
                object-fit: contain;

                @include small-mobile {
                    right: - $sizing-standard * 2;
                }
            }

        }

        h6{
            font-size: 16px;
            color: $light-gray;
            text-transform: uppercase;
            font-weight: 700;

            @include small-mobile {
                margin-top: $sizing-standard * 2;
            }
        }

        .subtitle {
            margin: $sizing-standard / 2 0;
            
            h5 {
                margin: 0;
                display: inline-block;
                text-transform: capitalize;
                color: $light-gray;
                font-weight: 700;
                font-size: 32px;
                color: $primary-blue;

                @include small-mobile {
                    font-size: 20px;
                }

                &::before {
                    display: none;
                    content: "";
                    display: inline-block;
                    background-color: $secondary-blue;
                    height: 8px;
                    width: 50px;
                    margin-bottom: $sizing-standard / 3;
                    margin-right: $sizing-standard;

                    @include small-mobile {
                        width: 30px
                    }
                }
            }

        }

        p {
            margin-left:  50px + $sizing-standard;
            font-size: 20px;
            color: $black;
            line-height: 1.8em;
            font-weight: 400;

            @include small-mobile {
                margin-left: $sizing-standard * 2.5;
                font-size: 16px;
            }
        }

        .button-group {
            margin-left:  50px + $sizing-standard;

            .left,.right {
                background-color: $secondary-blue;
                padding: $sizing-standard ;
                border: 0;
                transition: .4s;

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }

                &:hover {
                    background-color: $primary-blue;
                }
            }

            .left {
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                transform: scaleX(-1);
            }

            .right {
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
            }

        }

    }

    .after-graduate {
        margin: $sizing-standard * 8 0;

        .subtitle {
            
            h5 {
                text-transform: uppercase;
                color: $light-gray;
                font-weight: 600;
                font-size: 20px;

                @include small-mobile {
                    font-size: 18px;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    background-color: $secondary-blue;
                    height: 8px;
                    // border-top: .3em solid $secondary-blue;
                    width: 50px;
                    margin: 0 $sizing-standard $sizing-standard / 6 0;
                    // transform: translateY(-$sizing-standard / 2);
                }
            }

        }

        h1 {
             margin: $sizing-standard 0;
             font-weight: 700;
             color: $black;
             font-size: 32px;
             line-height: 1.8em;

             @include small-mobile {
                 font-size: 24px;
             }
        }

        p {
            color: $black;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6em    ;

            @include small-mobile {
                font-size: 16px;
            }
        }

        .item {
            box-shadow: 0px 6px 18px rgba($black,0.08);
            border-radius: $border-standard * 2;
            padding: $sizing-standard;

            img {
                width: 80px;
                height: 80px;
                object-fit: contain;
            }

            h6 {
                margin-top: $sizing-standard;
                font-size: 18px;
                font-weight: 700;
                color: $black;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5em;
                color: $black;
            }

        }

        .space-top {
            margin-top: $sizing-standard * 6;
        }

    }

    .galery {
        margin: $sizing-standard * 5 0;

        h1 {
            font-size: 34px;
            font-weight: 700;
            color: $primary-blue;
            margin: 0;

            @include small-mobile {
                font-size: 24px;
            }
        }

        p{
            margin-top: $sizing-standard;
            font-weight: 600;
            color:$black;
            font-size: 18px;

            @include small-mobile {
                font-size: 16px;
            }

        }

        .gallery-container {
            margin-top: $sizing-standard * 5;
        }

        .video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .pic {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }

    }

    .daftar-sekolah {
        height: 400px;
        background-color: $primary-blue;
        background-image: url($imageLink + "doodle_around_background.png" );
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;

        .subtitle {
            
            h5 {
                text-transform: uppercase;
                color: white;
                font-weight: 600;
                font-size: 20px;

                @include small-mobile {
                    font-size: 16px;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    background-color: $secondary-blue;
                    height: 8px;
                    width: 50px;
                    margin: 0 $sizing-standard $sizing-standard / 6 0;
                }
            }

        }

        h1,span{
            margin: $sizing-standard * 2.5 0;
            font-size: 32px;
            color: white;
            font-weight: 700;
            line-height: 1.5em;

            @include small-mobile {
                font-size: 24px;
            }

            span {
                color: $secondary-blue;
                text-decoration: underline;
            }
        }

        .btn-container {
            width: 300px;

            @include small-mobile {
                width: 200px;
            }
        }

    }

}

