// @import "global.scss";

div#mentor {
    height: 100%;

    #head {
        display: flex;
        position: relative;
        padding-top: $sizing-standard * 5;
        height: 100vh;

        .hero {
            position: relative;
            display: none;
            z-index: 2;
            display: block;
            width: 450px;
            height: 450px;
            object-fit: cover;

            @include tablet {
                margin: 0 auto;
            }
        }

        .image-container {

            .square-accent{
                // display: none;
                position: absolute;
                z-index: 0;
                right: $sizing-standard * 2;
                top: - $sizing-standard;
                width: 250px;
                height: 200px;
                background-color: $secondary-blue;

                @include tablet {
                    right: $sizing-standard * 4;
                }

            }
    
            .count-accent {
                z-index: 3;
                position: absolute;
                bottom: - $sizing-standard;
                left: - $sizing-standard;
                background-color: $secondary-blue;
    
                padding: $sizing-standard;
                text-align: center;
                font-size: 28px;
                font-weight: 600;
                color: white;
                letter-spacing: 4px;

                @include tablet {
                    left: 14%;
                }
            }

        }

        .caption-container {
            position: relative;

            
            @include tablet {
                margin-top: $sizing-standard;
                text-align: center;
            }

            .background {
                padding: $sizing-standard;

                .subtitle {
            
                    h5 {
                        text-transform: uppercase;
                        color: $light-gray;
                        font-weight: 600;
                        font-size: 20px;
        
                        &::before {
                            content: "";
                            display: inline-block;
                            background-color: $secondary-blue;
                            height: 8px;
                            // border-top: .3em solid $secondary-blue;
                            width: 50px;
                            margin: 0 $sizing-standard $sizing-standard / 6 0;
                            // transform: translateY(-$sizing-standard / 2);
                        }

                        @include tablet {
                            &::after {
                                content: "";
                                display: inline-block;
                                background-color: $secondary-blue;
                                height: 8px;
                                width: 50px;
                                margin: 0 0 $sizing-standard / 6 $sizing-standard;
                            }
                        }

                    }
        
                }
        
                h1,span {
                    font-size: 40px;
                    line-height: 1.5em;
                    letter-spacing: $letter-spacing;
        
                    span {
                        color: $secondary-blue;
                    }
                }

                p{
                    font-size: 18px;
                    color: $black;
                    font-size: 18px;
                    line-height: 1.8em;
                    margin-top: $sizing-standard ;
    
                    @include tablet {
                        font-size: 16px;
                    }
                }

            }

        }

    }

    #mentor-list {
        margin: $sizing-standard * 5 0;

        h1 {
            font-size: 34px;
            font-weight: 700;
            color: $primary-blue;
            margin: 0;
        }

        p{
            margin-top: $sizing-standard;
            font-weight: 600;
            color:$black;
            font-size: 18px;
        }

        .list-inline {
            margin-top: $sizing-standard;

            .list-inline-item > a {
                list-style: none;
                font-size: 20px;
                font-weight: 500;
                color: $light-gray;
                padding: 0 $sizing-standard / 2;

                &:hover {
                    color: $black;
                    font-weight: 700;
                }
            }

            .list-inline-item .active {
                font-weight: 700;
                color: $black;
            }

        }

        .swiper-container {
            width: 100%;
            margin-top: $sizing-standard * 3;

            .swiper-slide {
                width: 100%;
                padding: 0 $sizing-standard;

                .pic-wrapper {
                    position: relative;

                    .mentor-image {
                        display: block;
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                    }

                    .category {
                        position: absolute;
                        top: $sizing-standard;
                        left: - $sizing-standard / 2;
                        border-radius: $border-standard;
                        background-color: $primary-blue;

                        padding: $sizing-standard / 3 $sizing-standard / 2;
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: white;
                    }

                }

                h2{
                    font-size: 26px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    line-height: 1em;
                }

                h4 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 500;
                    line-height:.5em;
                    font-weight: 500;
                }

            }

        }
    }

}