#news {
    background-color: white;
    padding-top: $sizing-standard * 8;
    height: 100%;
    
    #head {

        .pos-relative {
            position: relative;
            height: 500px;

            @include small-mobile {
                height: max-content;
            }
        }
        
        .hero-pic {
            width: 80%;
            height: 500px;
            object-fit: cover;

            @include small-mobile {
                display: block;
                width: 100%;
                height: 300px;
            }

        }

        .desc-container {
            position: absolute;
            width: 380px;
            top: 50%;
            right: $sizing-standard / 2;
            transform: translateY(-50%);
            background-color: white;
            padding: $sizing-standard;

            @include small-mobile {
                // display: none;
                position: relative;
                top: 0; right: 0;
                width: 100%;
                transform: unset;
            }
            
            h1 {
                font-size: 30px;
                line-height: 1.5em;
                letter-spacing: 2px;
                text-transform: uppercase;

                @include small-mobile {
                font-size: 20px;
                }
            }
            
            p{
                color: $light-gray;
                line-height: 1.5em;
                font-weight: 500;
                font-size: 18px;

                @include small-mobile {
                    font-size: 14px;
                }
            }

            h6 {
                cursor: pointer;
                width: max-content;
                color: $primary-blue;
                font-weight: 700;
                font-size: 18px;

                &:hover {
                    text-decoration: underline;
                }

            }

            .date {
                font-size: 16px;
                text-transform: uppercase;
                color: lighten( $light-gray, 20%);
                font-weight: 600;
            }

        }

        .item-wrapper {
            position: relative;

            &:nth-child(1) {
                margin-bottom: $sizing-standard;
            }

            .pic {
                object-fit: cover;
                width: 100%;
                height: 240px;

                @include small-mobile {
                    width: 100%;
                }

            }

            .mask {
                position: absolute;
                display: flex;
                padding: $sizing-standard;
                top: 0;left: 0;right: 0;bottom: 0;
                // background: rgba(19,19,19,.5);
                background: linear-gradient(0deg, rgba(19,19,19,.7) 0%, rgba(255,255,255,0.0041888581604516695) 100%);

                h3 {
                    margin: auto 0 0 0;
                    color: white;
                    font-size: 18px;
                    line-height: 1.5em;
                    font-weight: 600;

                    @include small-mobile {
                        font-size: 16px;
                    }
                }
            }

        }

    }

    #content {
        margin: $sizing-standard 0;

        .item-wrapper {
            margin-bottom: $sizing-standard * 2;
        }

        .side {
            position: sticky;
            top: $sizing-standard;
            padding: $sizing-standard;
            background-color: #FAFAFA;

            h5 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1px;
                margin: 0;
            }

            .item {
                cursor: pointer;
                margin-top: $sizing-standard;
                padding-top: $sizing-standard;
                border-top: 2px solid #E7E7E7;
                transition: .3s;

                &:hover {
                    h4 {
                        text-decoration: underline;
                    }
                }

                &:nth-child(2) {
                    border-top: 0;
                    padding-top: $sizing-standard / 2;
                }

                h4 {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 1.5em;
                    margin-bottom: $sizing-standard/2;
                }

                .date {
                    color: lighten($light-gray, 15%);
                    font-weight: 500;
                    font-size: 14px;
                    text-transform: capitalize;
                }
                
            }
        }

    }

}