#program-page {
    padding-top: $sizing-standard * 8;
    height: 100%;
    overflow-x: hidden;

    .program-section {
        position: relative;
        display: flex;
        height: 500px;

        @include tablet {
            height: auto;
            margin-bottom: $sizing-standard * 5;
        }

        .desc {

            h5 {
                font-size: 18px;
                margin: 0;
                color: $secondary-blue;
                font-weight: 600;
                text-transform: uppercase;
            }

            h1 {
                margin-top: $sizing-standard / 2;
                margin-bottom: $sizing-standard;
                font-size: 38px;
                color: $black;
                letter-spacing: 2px;
            }

            .line {
                display: inline-block;
                vertical-align: top;
                height: 8px;
                background-color: $secondary-blue;
                width: 6%;
                margin-top: $sizing-standard / 2;
            }
                
            p {
                display: inline-block;
                vertical-align: top;
                width: 94%;
                padding-left: $sizing-standard;
                color: $black;
                letter-spacing: 1px;
                line-height: 1.8em;
                font-weight: 600;
                font-size: 18px;
                font-weight: 400;
            }

        }

        .icon-materi {
            // display: none;
            display: block;
            width: 100%;
            object-fit: contain;
            object-position: center;
            // margin-bottom: $sizing-standard * 2;
        }

        .polygon-accent {
            z-index: 1;
            position: absolute;
            top:50%;
            right: - 30%;
            transform: translateY(-50%);

            .background-object {
                object-fit: contain;
                width: 600px;
            }

            @include tablet {
                opacity: .5;
            }
        }

        .circle-accent {
            z-index: 1;
            position: absolute;
            top:0;
            left: - 35%;
            background-color: rgba($secondary-blue, .2);
            width: 420px;
            height: 420px;
            border-radius: 50%;

            &:nth-child(2) {
                top:20%;
                left: - 30%;
            }

            @include tablet {
                opacity: .5;
            }

        }

        .square-accent {
            z-index: -1;
            position: absolute;
            top:40%;
            right: - 30%;
            transform: translateY(-50%);
            background-color: rgba($secondary-blue, .2);
            width: 400px;
            height: 400px;
            transform: rotate(25deg);

            @include tablet {
                opacity: .5;
            }

        }

    }

}