// @import "global.scss";

#search-school {
    overflow-x: hidden;

    #search-section {
        overflow-x: hidden;
        display: flex;
        margin-top: $sizing-standard * 7;
        background-color: #FBFBFB;
        padding: $sizing-standard * 2 0;

        .border-separator{
            border-right: lighten($light-gray, 40%) 1px solid ;

            @include mobile {
                border-right: 0;
                border-left:lighten($light-gray, 40%) 4px solid ;
            }

            @include small-mobile {
                border-right: 0;
                border-left: lighten($light-gray, 40%) 4px solid ;
            }
        }

        .box {
            display: flex;
            align-items: center;

            .icon {
                color: $primary-blue;
                margin-right: $sizing-standard;
                font-size: 24px;
                display: inline-block;
            }

            .form-group {
                width: 90%;
                display: inline-block;

                label {
                    font-weight: 500;
                    font-size: 16px;
                    color: $primary-blue;
                    font-weight: 500;
                }

                .form-control {
                    display: block;
                    font-family: $primary-font;
                    color: $black;
                    font-weight: 500;
                    width: 90%;

                    option {
                        font-size: 16px;
                        color: $black;
                    }

                }
            }
           
        }

    }

    #result-list {
        padding: $sizing-standard * 5 0;
        background-color: #F2F2F2;

        .item-list {
            position: relative;
        
            .item-pic {
                width: 100%;
                height: 280px;
                object-fit: cover;
                border-radius: $border-standard;
            }
    
            .overlay {
                position: absolute;
                top: 0;
                left: $sizing-standard - 10;
                right: $sizing-standard - 10;
                bottom: 0;
                border-radius: $border-standard ;
                background-color:  rgba(80,80,80,0.45);
                padding: $sizing-standard;
    
                h4 {
                    
                    color: #fff;
                    font-weight: 600;
                }
    
                span {
                    font-size: 16px;
                    color: #fff;
                    opacity: .9;
                    text-transform: capitalize;
                }
    
                .top {
                    position: absolute;
                    top: $sizing-standard;
                    left: $sizing-standard;
                    right: $sizing-standard;
                }
    
                .bottom {
                    position: absolute;
                    bottom: $sizing-standard;
                    left: $sizing-standard;
                    right: $sizing-standard;
    
                    .address {
                        font-size: 16px;
                        margin-top: $sizing-standard / 2;
                        margin-right: $sizing-standard / 3;
                        background-color: $secondary-blue ;
                        border-radius: $border-standard;
                        border: 0;
                        color: #fff;
                        padding: $sizing-standard - 15 $sizing-standard - 10
                    }
                }
            }
    
        }

    }

    

   
}






// #search-section {
//     height: 100vh;
//     display: flex;

//     .subtitle {
        
//         h5 {
//             text-transform: uppercase;
//             color: $light-gray;
//             font-weight: 600;
//             font-size: 20px;

//             &::before {
//                 content: "";
//                 display: inline-block;
//                 background-color: $secondary-blue;
//                 height: 8px;
//                 // border-top: .3em solid $secondary-blue;
//                 width: 50px;
//                 margin: 0 $sizing-standard $sizing-standard / 6 0;
//                 // transform: translateY(-$sizing-standard / 2);
//             }
//         }

//     }

//     h1 {
//          margin: $sizing-standard 0;
//          font-weight: 700;
//          color: $black;
//          font-size: 32px;
//          line-height: 1.8em;
//     }

//     p {
//         color: $black;
//         font-weight: 400;
//         font-size: 18px;
//         line-height: 1.6em    
//     }

//     .item {
//         box-shadow: 0px 6px 18px rgba($black,0.08);
//         border-radius: $border-standard * 2;
//         padding: $sizing-standard;

//         img {
//             width: 80px;
//             height: 80px;
//             object-fit: contain;
//         }

//         h6 {
//             margin-top: $sizing-standard;
//             font-size: 18px;
//             font-weight: 700;
//             color: $black;
//         }

//         p {
//             font-size: 14px;
//             font-weight: 400;
//             line-height: 1.5em;
//             color: $black;
//         }

//     }

//     .space-top {
//         margin-top: $sizing-standard * 6;
//     }

// }